# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1db7a8e4edb6bfdf9d03d066d8582f9f6a739ae2231a021286506d22d2e178fc1845d4e43e526d8d9331cf0f2975ed3b164eb57f61950066d5145212d4b07889

test:
  secret_key_base: 6016b0f14572b917abdecdfcd689fd00e33bcbfa9ef115ad2873ec1908d20166d48ba1d2e1e4ba2b42b31a9fb0f973c107a07b87fcbbbf94704feb6b7ba7a3b2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
